body {
    text-align: center;
    background: url('../images/rick-morty\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: 100rem;
    background-position: center;
    background-attachment:fixed;
    font-size: 1.8rem;
    margin: 0;
}

#game-space {
    border: solid 2px black;
    max-width: 50%;
    max-height: 70%;
    text-align: center;
    justify-content: center;
    background-color: lightseagreen;
    font-size: 1.2rem;
    margin-left: 30%;
}

#answer-area {
    display:grid;
    gap: 5px;
    max-width: 700px;
    margin: auto;
}

.answer-btn {
    color:black;
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 10px;
}

.answer-btn:hover {
    border: 2px solid black;
}

#score {
    margin: 10px;
}

#score-p {
    margin: 20px;
}

.start-btn, .next-btn, .btn, #home {
    color: black;
    font-size: larger;
    border-radius: 10px;
    border: 2px solid greenyellow;
    background-color: white;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

.btn:hover {
    border: 2px solid black;
}

#home:hover {
    border: 2px solid black;
}

.hide {
    display: none;
}

.btn-correct {
    background-color: #08bd11;
}

.btn-wrong {
    background-color: #d62828;
}

@media screen and (min-width: 412px) {
    body {
        background-size: 120rem;
        font-size: 1rem;
    }
    #game-space {
        font-size: 1rem;
    }
} 

@media screen and (min-width: 280px) {
    body {
        font-size: 0.9rem;
    }
    #game-space {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 540px) {
    body {
        font-size: 1.5rem;
    }
    #game-space {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 912px) {
    body {
        background-size: 180rem;
        font-size: 2.3rem;
    }
    #game-space {
        font-size: 2rem;
        height: 80%;
        width: 90%;
    }
}